@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">Não foi possível processar sua requisição.</h2>
<button>@Html.ActionLink("Voltar", "Index", "Home")</button>

